@font-face {
    font-family: "Glacial Indifference";
    font-style: normal;
    font-weight: 400;
    src:
        url("/fonts/GlacialIndifference-Regular.otf") format("otf"),
        local("Glacial Indifference");
}

@font-face {
    font-family: "Glacial Indifference";
    font-style: normal;
    font-weight: 700;
    src:
        url("/fonts/GlacialIndifference-Bold.otf") format("otf"),
        local("Glacial Indifference");
}