@font-face {
    font-family: "Glacial Indifference";
    font-style: normal;
    font-weight: 400;
    src:
        url("fonts/GlacialIndifference-Regular.otf") format("opentype"),
        local("Glacial Indifference");
    font-size: 16px; /* Tamaño de fuente para Regular */
}

@font-face {
    font-family: "Glacial Indifference";
    font-style: italic;
    font-weight: 400;
    src:
        url("fonts/GlacialIndifference-Italic.otf") format("opentype"),
        local("Glacial Indifference");
    font-size: 16px; /* Tamaño de fuente para Italic */
}

@font-face {
    font-family: "Glacial Indifference";
    font-style: normal;
    font-weight: 700;
    src:
        url("fonts/GlacialIndifference-Bold.otf") format("opentype"),
        local("Glacial Indifference");
    font-size: 16px; /* Tamaño de fuente para Italic */
}
