@use 'colors';

.uw__header {
    color: black;
    background-color: white;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);

        transition: all .5s ease; // Efecto de transición al hacer hover   
    }

    &__process {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    &__logo {
        width: 300px;
        height: 105px;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 1; // Comenzar completamente visible
        transition: opacity .5s ease; // Efecto de transición al hacer hover
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        column-gap: 100px;
        z-index: 2;

        opacity: 0; // Comenzar completamente invisible
        transition: opacity .5s ease; // Efecto de transición al hacer hover
        
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            column-gap: 50px;
        }

        &__item {
            cursor: pointer;
            transition: all .5s ease; // Efecto de transición al hacer hover
            
            a {
                font-size: 30px;
                word-wrap: break-word; 
                text-decoration: none;

                display: block;
                
                border-radius: 50%; // Hacer que el fondo sea un círculo
                padding: 40px;
                padding-top: 20%;
                padding-bottom: 20%;

                color: black;
                background-color: rgba(0,0,0,0.1);
            }
            
            &:hover {
                a {
                    color: #ccc; // Cambiar el color al hacer hover
                }
            }
        }
    }
}