@import "colors.scss";

@import "header.scss";
@import "footer.scss";
@import "draw.scss";
@import "statistics.scss";

.uw__objetive {
    color: $light;
    background-color: $orange;

    &__content {
        display: flex;
        align-items: baseline;
        justify-content: center ;
        flex-direction: column;
        row-gap: 20px;
    }

    h3 {
        transition: font-size 0.5s ease, font-weight 0.5s ease;

        &:hover {
            font-size: 45px;
            font-weight: 700;
        }
    }
    
}

.uw__about {
    color: $light;
    background-color: $red;

    &__content {
        display: flex;
        align-items: baseline;
        justify-content: center ;
        flex-direction: column;
        row-gap: 20px;

        h3 {
            transition: font-size 0.5s ease, font-weight 0.5s ease;
    
            &:hover {
                font-size: 45px;
                font-weight: 700;
            }
        }
    }
}

.uw__partners {
    color: $dark;
    background-color: $light;

    &__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0;
    }
  
    &__carousel {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;

        &__container {
            overflow: hidden;

            &::before, &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 20%; // Ajusta este valor para cambiar el tamaño del área difuminada
                height: 100%;
                z-index: 2;
            }
        }

        &__track {
            display: flex;
            align-items: center;
            flex-direction: row;
            column-gap: 60px;

            transition: transform 0.5s ease;
        }

        &__slide {
            flex: 0 0 auto;
            width: calc(100% / 4); // Muestra 4 logos a la vez
            padding: 0 10px;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            column-gap: 10px;   

            color: $dark;
            cursor: pointer;
            z-index: 1;

            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            
            z-index: 1;
        }
    }
}
